body{
font-family:Arial;
background:#f4f7fb;
text-align:center;
color:#333;
}

h1{
color:#2563eb;
}

.creator{
background:white;
padding:20px;
width:400px;
margin:auto;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

input{
padding:8px;
margin:5px;
width:80%;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:8px 14px;
margin:5px;
border:none;
background:#2563eb;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover{
background:#1e40af;
}

#pollArea{
margin-top:30px;
}

.option{
background:white;
padding:10px;
margin:10px auto;
width:400px;
border-radius:8px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.bar{
height:10px;
background:#2563eb;
border-radius:5px;
margin-top:5px;
}