body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

h1{
color:#38bdf8;
}

.panel{
display:flex;
justify-content:center;
align-items:center;
margin-top:30px;
}

.floors{
margin-right:20px;
}

.floor-btn{
display:block;
margin:5px;
padding:8px 12px;
border:none;
background:#1e293b;
color:white;
border-radius:6px;
cursor:pointer;
}

.floor-btn:hover{
background:#334155;
}

.elevator-shaft{
width:100px;
height:300px;
background:#111827;
border-radius:10px;
position:relative;
}

.elevator{
width:80px;
height:40px;
background:#22c55e;
position:absolute;
left:10px;
bottom:0;
border-radius:6px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
}

.status{
margin-top:20px;
font-size:18px;
}

.queue{
margin-top:10px;
color:#cbd5f5;
}