body{
margin:0;
background:#0b0b0b;
font-family:Arial;
color:white;
text-align:center;
}

canvas{
background:#111;
margin-top:20px;
border:2px solid #444;
}

h1{
margin-top:20px;
}

.info{
margin-top:10px;
color:#aaa;
}