body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

h1{
color:#38bdf8;
}

.controls{
margin:15px;
}

button{
padding:8px 14px;
margin:5px;
border:none;
border-radius:6px;
background:#1e293b;
color:white;
cursor:pointer;
}

button:hover{
background:#334155;
}

.timer{
margin:10px;
font-size:18px;
}

.traffic-light{
width:100px;
background:#111827;
margin:30px auto;
padding:15px;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.light{
width:60px;
height:60px;
border-radius:50%;
background:#222;
margin:10px auto;
transition:0.3s;
}

.red.active{
background:red;
box-shadow:0 0 20px red;
}

.yellow.active{
background:yellow;
box-shadow:0 0 20px yellow;
}

.green.active{
background:lime;
box-shadow:0 0 20px lime;
}